@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">📚 Biblioteca</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="CollapseNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro">
                <span class="oi oi-person" aria-hidden="true"></span> Registro
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo">
                <span class="oi oi-book" aria-hidden="true"></span> Catálogo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Préstamos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportes">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reportes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}